<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> VideoCool</title>
    <!-- Uso de url_for para obtener la ruta de elementos de la página -->
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='estilo.css') }}/>
</head>
<body>
    <div class = "header">
            VideoCool
    </div>         
    <hr></hr>
    <div class="wrapper">
        <div class="sidebar">
        </div>
    {% if not session['usuario'] %}
    <div class="menu_user">
        Usuario: Anonimo
        <br></br>
        <a href="{{ url_for('login') }}">Iniciar sesión</a>
        <br></br>
        <a href="{{ url_for('singup') }}">Registrarse</a>
        <br></br>
        <a href="{{ url_for('bestmovies') }}">BestMovies</a>
    </div>

    {% else %}
    <div class ="menu_user"
        <span>Usuario: {{ session['usuario'] }}</span>
        <br></br>
        <span>Saldo disponible: {{ "$%.2f"|format(session['saldo']) }}€</span>
        <br></br>
        <a href="{{ url_for('logout') }}">Logout</a>
        </a>
        <br></br>
        <a href="{{ url_for('historial') }}">Historial Compras</a>
        </a>
        <br></br>
        <a href="{{ url_for('bestmovies') }}">BestMovies</a>
        </div>
    
    {% endif%}
    <div class ="home_button">
    <a href="{{ url_for('index') }}">
        <img src="static/home.png" alt="home" width="35" height="35"/>
    </a> 
    </div>
    <div class ="carrito_button">
    <a href="{{ url_for('carrito', id=-1)}}">
        <img src="static/carrito.png" alt="carrito" width="35" height="35"/>
    </a> 
    </div>
    {% block content%} {% endblock %}
</body>
</html>
