{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock%}
{% block content %}
{%if check == 1 %}
<div class="move_left">
    Este es tu carrito:
    <br></br>
    
    {% for item in datos%}
    <div class="container">
        <a href="{{ url_for('almacen', id=item.id )}}">
            <img src="{{item.poster}}" alt="{{item.titulo}}" id="{{item.id}}" width="60" height="60" />
        </a>
    </div>
    
    <label>{{item.titulo}} {{item.precio}}€ x {{item.pedidos}} = {{"%.2f"|format(item.precio * item.pedidos)}}€</label>
    
    <a href="{{ url_for('carrito', id=item.id)}}">
        <img src="static/cross.png" width="20" height="20" />
    </a>

    <br></br>
    </ul>
    {% endfor %}

    <p>Total a pagar es de: {{precio}} € </p>
    {% if session['usuario'] %}
    <a href="{{ url_for('pagar')}}">
        Pagar
    </a>
    {% else %}
    <a href="{{ url_for('login')}}">
        Pagar
    </a>
    {% endif %}

</div>
{%else %}
<div class="move_left">
    <h1> Tu carrito está vacio</h1>
    <a href="{{ url_for('index')}}">
        Añadir peliculas
    </a>
</div>
{% endif %}
{% endblock %}