{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock%}
{% block content %}
{% if pagado == True%}
<script>alert("Tu pago se ha realizado correctamente!")</script>
{%endif%}
<div class="move_left">
<h1>Este es tu historial de compras:</h1>
<a href="{{ url_for('index')}}">
    Volver
</a>
<br></br>
{% for item in data['compras'] %}
    <b>Id de compra: {{item.orderid}} </b>
    <br></br>
    <b>Fecha de compra: {{item.orderdate}} </b>
    <br></br>
    <b>Estado de compra: {{item.status}} </b>
    <br></br>
        {% for peli in item['pelis'] %}
            <b>/--------------------------------------\</b>
            <p>>--------Titulo: {{peli.movietitle}} </p>
            <label>>--------Nº de copias: {{peli.quantity}} </label>
            <p>>--------Precio de articulo(s): {{peli.price}}€ </p>
            <b>\--------------------------------------/</b>
            <br></br>
    {% endfor %}
    <p>Total del pedido: {{"%.2f"|format(item.totalamount)}}€ </p>
    <br></br>
{% endfor %}
</div>

{% endblock %}