{% extends "base.html" %} {% block title %} {{ title }} {% endblock%}
</form>
{% block content %}
<br></br>
<br></br>
<div class="move_left">
    {% for item in movies %}
    <ul id="film_strip">
        <li>
            <div class="film_text">
                <a href="{{ url_for('almacen', id=item.movieid )}}">
                     {{ item.movietitle}}
                </a>
            </div>
            <a href="{{ url_for('almacen', id=item.movieid )}}">
                <img src="static/movie{{item.movieid}}.jpg" alt="{{item.titulo}}" id="{{item.movieid}}" width="300" height="300" />
            </a>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock %}