{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock%}
{% block content %}

<div class = "move_left">
{% if error %}
    <script> alert("Saldo insuficiente, borre peliculas o añada más saldo")</script>
    <h1>
    <a href="{{ url_for('index')}}">
        Volver
    </a>
 </h1>
{% else %}
{% for item in session['carrito'] %}
    {% if item.modificado %}
    <div class="container">
        <a href="{{ url_for('almacen', id=item.id )}}">
            <img src="{{item.poster}}" alt="{{item.titulo}}" id="{{item.id}}" width="60" height="60" />
        </a>
    </div>
    
    <label>{{item.titulo}} {{item.precio}} x {{item.pedidos}} = {{"$%.2f"|format(item.precio * item.pedidos)}} (Modificadas cantidades por stock)</label>
    
    {% else %}
     <div class="container">
        <a href="{{ url_for('almacen', id=item.id )}}">
            <img src="{{item.poster}}" alt="{{item.titulo}}" id="{{item.id}}" width="60" height="60" />
        </a>
    </div>
    
    <label>{{item.titulo}} {{item.precio}}€ x {{item.pedidos}} = {{"%.2f"|format(item.precio * item.pedidos)}}€</label>
    
    {% endif %}
    {% endfor %}
    <br></br>
    <label> Total a pagar: {{total}}€</label>
    <form action="" method="post">
        <input type="submit" value="pagar" name ="pagar">
</div>
{% endif %}
{% endblock %}