{% extends "base.html" %} {% block title %} {{ title }} {% endblock%}
</form>
{% block content %}
<div class="move_left">
    <img src="static/movie{{id}}.jpg" alt="{{movietitle}}" id="{{id}}" width="30%" height="25%" />
    <div class="movie_text">
        <h3>
            {{movietitle}}
        </h3>
        Director: {% for item in directors%}
        <div class="div_identa">
            {{ item[0]}}
        </div>

        {% endfor %}
        <br></br>
        <br></br>
        Actores: {% for item in actors%}
        <div class="div_identa">
            {{ item[0]}}: {{item[1]}}
            <br></br>
        </div>
        {% endfor %}
        <div> Valoracion: {%for i in range(valoracion)%}
            <span>⭐</span> {% endfor %}
        </div>
        Generos: {% for item in genre%}
        <div class="div_identa">
            {{ item[0]}}
        </div>
        {% endfor %}
        <br></br>
        </p> El stock para esta pelicula es de: {{stock}} copias</p>
        Precios: {% for item in prices%}
        <div class="div_identa">
            {{loop.index}}:{{ item[0]}}: {{item[1]}}€
        </div>
        {% endfor %}
        <div class="review_bar">
            <div>Añadir tipo de producto al carrito</div>
            <form action="" , method="post">
                <select name="tipopelicula">
                        <option value="-1">Nada</option>
                    {% for item in prices %}
                        <option value="{{loop.index}}">{{loop.index}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Anadir al carrito">
            </form>
        </div>
 
        <br></br>
        <br></br>
        {% if not session['usuario'] %}
        <a href="{{ url_for('login')}}">
            Inicie Sesión para valorar
        </a>

        {% else %}
        {% if opinion != -1 %}
        Tu opinion es: {{opinion}}
        {% else %}
        Todavía no has valorado
        {% endif %}
        <div class="review_bar">
            <div>Pon tu opinion:</div>
            <form action="" , method="post">
                <select name="nota">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input type="submit" value="Valorar">
            </form>
        </div>
        </div>
        {% endif%}
    



</div>
{% endblock %}