
{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}
{% block content %}
<script type = "text/javascript" src="static/script.js"></script>
<form method="post">
    <div class = "move_left">
        {% if error == True %}
        <script> alert("El nombre de usuario ya esta siendo usado por otro usuario")</script>
        {%endif%}

        <h1> Registrarse</h1>
        <a href="{{ url_for('login')}}">
           Ya tengo una cuenta
        </a>
        <br></br>
        Nombre de Usuario
        <br></br>
        <input id=1 name="user" type="text" placeholder="Nombre Usuario" minlength="5" onkeyup = "nameCondition()" > <!--Esto se supone que vale para mantener valores value="<?php if (isset($_POST['user'])) { echo $ _POST['user']; } ?>"/><br/value="<?php if (isset($_POST['user'])) { echo $ _POST['user']; } ?>"/><br /-->
        <i id=2 style="color:red;"> </i>
        <br></br>
        Email
        <br></br>
        <input id=3 name="email" type="text" placeholder="email" onkeyup = "emailCondition()">
        <i id=4 style="color:red;"> </i>
        <br></br>
        Contraseña
        <br></br>
        <input id = 5 name="contraseña" type="password" placeholder="Contraseña" onkeyup="updateComplexity()">
        <i id = 6 style="color:red;"> </i>
        <br></br>
        Confirme contraseña
        <br></br>
        <input id = 7 name="confirmacion" type="password" placeholder="Confirme Contraseña" onkeyup="samePassword()">
        <i id= 8 style="color:red;"> </i>
        <br></br>
        Tarjeta de Credito
        <br></br>
        <input id=9 name="tarjeta" type="text" placeholder="XXXX-XXXX-XXXX-XXXX" onkeyup="cardCondition()">
        <i id=10 style="color:red;"> </i>
        <br></br>
        Dirección
        <br></br>
        <input id=11 name="direccion" type="text" placeholder="Dirección" onkeyup = "addresCondition()">
        <i id=12 style="color:red;"> </i>
        <br></br>
        <input type="submit" name = "submit_button" value="Registrarse" onClick ="return validation()">
    </div>
    </form>


{% endblock %}